*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
}
h2 {
  text-align: center;
}
p {
  width: 100%;
  margin: auto;
}

main {
  flex-grow: 1;
  height: auto;
}

.titulares {
  background: black;
  color: white;
  padding: 10px;
}
.header {
  height: 135px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linea {
  width: 100%;

  height: 1px;
  background: white;
}
/*menu con hover*/
.logo {
  justify-self: center;
  align-self: start;
}
.item {
  float: left;
}

.menu {
  position: relative;
  left: 25px;
}

.desple {
  display: none;
  position: absolute;
}

.item:hover .desple {
  display: block;
}

a:hover {
  background: red;
  color: aqua;
  border-radius: 5px;
}
a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 1px 7px;
  padding: 3px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-image {
  width: 100%;
  min-height: 555px;
  background-image: url("informatica.jpg");
  background-repeat: no-repeat;
  background-size: 95vw;

  background-size: cover;
}
.hero-image div {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image h2 {
  font-size: 3vw;
}

img {
  max-width: 100%;
  height: auto;
}

/*adaptado a  pc web*/
@media screen and (min-width: 1024px) {
  img {
    max-width: 100%;
    height: auto;
  }

  a {
    display: block;
    text-decoration: none;
    color: white;
    margin: 1px 10px;
    font-size: 17px;
    margin-left: 20px;
  }

  .logo {
    justify-self: start;
    align-self: center;
  }

  li {
    margin: 0;
    padding: 0;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contenedor {
    display: flex;
    flex-direction: row;
  }

  .reversa {
    flex-direction: row-reverse;
  }

  p {
    margin: 10px 10px;
    padding: 10px 10px;
  }

  /*menu con hover*/
  .item {
    float: left;
  }

  .menu {
    position: relative;
    right: 25px;
  }

  .desple {
    display: none;
    position: absolute;
  }

  .item:hover .desple {
    display: block;
  }

  a:hover {
    color: aqua;
  }
}
